/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
} */

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../src/images/login_img.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;
}

.title {
    font-size: 32px;
    font-weight: 700;
}

.register-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.wrapper-register {
    width: 750px;
    height: max-content;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 2);
    backdrop-filter: blur(50px);
    color: #fff;
    border-radius: 10px;
    /* padding: 40px 35px 55px; */
    margin: 40px 10px;
}

.wrapper-register > h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-box {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.input-field {
    position: relative;
    width: 48%;
    height: 100px; /* jangan ubah ini */
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-field select {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid rgba(255, 255, 255, 2);
    background-color: transparent;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-box .input-field input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 2);
    outline: none;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    padding: 15px 15px 15px 15px;
}

.input-box .input-field input::placeholder {
    color: #d9d9d9;
}

.wrapper-register label {
    display: inline-block;
    font-size: 14.5px;
    margin: 10px 0 13px;
}
.wrapper-register label input {
    accent-color: #ffffff;
}

.wrapper-register .btn {
    width: 50%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-block: 10px;
}
